<link href="/styles.css" rel="stylesheet" type="text/css">

<center>
<a class="jobStatus" href="/employed">Employed</a>
<p>OR</p>
<a class="jobStatus" href="/unemployed">Looking for work</a>
</center>

<div class="firstUsersContainer">
	{{#robotUsers}}
	<div class="user">
		<img class="firstAvatar" src="{{avatar}}">
		<p class="firstName">{{name}}</p>
		{{#job}}
		<p class="jobCompany">{{job}}, {{company}}</p>
		{{/job}} {{^job}}
		<div class="hire1">Available for hire</div>
		{{/job}}
	</div>
	{{/robotUsers}}
</div>


<div class="secondUserContainer">
	{{#robotUsers}}
	<div class="individualUsers">
		<div class="imageHolder">
			<img id="avatarPic" src="{{avatar}}">
		</div>
		<div class="infoWrapper">
			<h1 class="secondName">{{name}}</h1>
			<p>{{#address.city}} {{address.city}},{{/address.city}} {{address.country}} | {{#job}}{{job}}, {{company}} {{/job}} {{^job}}
				Available for hire {{/job}}</p>
			<p>{{email}} | {{phone}}</p>
		</div>
	</div>


	<div class="schoolSkillsWrapper">

		{{#university}}
		<p class="education"><b>Education</b> {{university}}</p>
		{{/university}}
		<p class="skills"><b>Skills</b> {{skills}}</p>
	</div>
	{{/robotUsers}}
</div>